<% self.title = make_title(@tag, @year, @month, @day) %>

<% content_for(:head) do %>
  <%= stylesheet_link_tag 'blog' %>
<% end %>
<% content_for(:sidebar) do %>
  <%= render 'sidebar' %>
<% end %>

<div id="posts">
  <h1><%= make_title(@tag, @year, @month, @day) %></h1>

  <% @posts.each do |post| %>
    <div class="post">
      <span class="date"> <%= post.published_on.to_date.strftime '%A, %B %d, %Y' %> </span>
      <h2><%= link_to post.title, post_path(post) %></h2>
      <div class="body">
        <%= markdown post.body %>
      </div>
      <div class="info">
        Posted <%= time_ago_in_words post.published_on %> ago
        <%= link_to t("comments"), "#{post_path(post)}#comments" %>
        <br/>
        <%= render 'tags', :tags => post.tags %>
      </div>
      <hr/>
    </div>
  <% end %>
  <%= will_paginate(@posts,
                       :previous_label => "&#171; #{t('previous')}",
                       :next_label => "#{t('next')} &#187;") %>
</div>
