<% self.title = @post.title %>
<% def self.object; @post; end %>

<% content_for(:sidebar) do %>
  <%= render 'sidebar' %>
<% end %>

<div id="post">
  <div class="date"><%= @post.published_on.to_date.strftime '%A, %B %d, %Y' %></div>
  <h1><%= @post.title %></h1>
  <div id="body">
    <%= markdown @post.body %>
  </div>
  <div id="tags">
    <%= render 'tags', :tags => @post.tags %>
  </div>
  <div id="date">
    Posted <%= time_ago_in_words @post.published_on %> ago
  </div>

  <div id="comments">
    <h2><%= t("comments") %></h2>
    <% @post.comments.approved.each do |comment| %>
      <div class="comment">
        <%= markdown comment.message %>
        <div class="info">
          Posted <%= time_ago_in_words comment.created_at %> ago by <%= comment.name %>
        </div>
      </div>
    <% end %>
    <div id="new-comment">
      <p><%= t('comment_on_post') %></p>

      <%= render 'comments/form', :comment => @post.comments.new, :post => @post %>
    </div>
  </div>
</div>
