<% self.title = @post.title %>
<% def self.object; @post; end %>
<div id="post">
  <h1><%= @post.title %></h1>
  <div id="summary">
    <%= markdown @post.summary %>
  </div>
  <div id="body">
    <%= markdown @post.body %>
  </div>
  <div id="tags">
    <%= render 'tags', :tags => @post.tags %>
  </div>
  <div id="date">
    Posted <%= time_ago_in_words @post.published_on %> ago
  </div>

  <div id="comments">
    <h2><%= t("comments") %></h2>
    <% @post.comments.approved.each do |comment| %>
      <div class="comment">
        <%= markdown comment.message %>
        <div class="info">
          Posted <%= time_ago_in_words comment.created_at %> ago by <%= comment.name %>
        </div>
      </div>
    <% end %>
  </div>
</div>
